.imagen-comida {
  display: block;
  width: 100%;
  height: 210px;
  object-fit: cover;
}

.tablon-categoria {
  padding: 0.5rem 1.1rem;
}
.tablon-categoria .texto-quemado {
  font-size: 0.82rem;
  text-transform: uppercase;
}
